<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <add key="ServiceGroup" value="0"/>
  <!--Oracle备份服务分组-->
  <add key="DbUser" value="demooauser"/>
  <!--数据库用户名-->
  <add key="DbUser" value="demooauser"/>
  <!--数据库密码-->
  <add key="DbPassword" value="demooauser"/>
  <!--备份目录-->
  <add key="BackupDirectory" value="D:\oracle\bak"/>
  <!--备份开始小时-->
  <add key="StartHour" value="9"/>
  <!--备份开始分钟-->
  <add key="StartMinute" value="39"/>
  <!--保留天数-->
  <add key="Maintain" value="15"/>
  
</configuration>